.zone {
    width: 300px;
    padding: 50px;
    background-color: #ebebeb;
}
.label {
    display: block;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
}